/* @import "tw-animate-css"; */
/* @import "shadcn/tailwind.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-[10px] leading-4;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 rounded-full border border-black transition-colors duration-200 ease-in hover:bg-black hover:text-white;
  }
}

@layer base {
  :root {
    --background: 222 0% 100%;
    --foreground: 222 0% 4%;
    --card: 222 0% 100%;
    --card-foreground: 222 0% 4%;
    --popover: 222 0% 100%;
    --popover-foreground: 222 0% 4%;
    --primary: 222 0% 9%;
    --primary-foreground: 222 0% 98%;
    --secondary: 222 0% 96%;
    --secondary-foreground: 222 0% 9%;
    --muted: 222 0% 96%;
    --muted-foreground: 222 0% 45%;
    --accent: 222 0% 96%;
    --accent-foreground: 222 0% 9%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 222 0% 98%;
    --border: 222 0% 90%;
    --input: 222 0% 90%;
    --ring: 222 0% 63%;
    --chart-1: 211 100% 78%;
    --chart-2: 217 91% 60%;
    --chart-3: 221 86% 54%;
    --chart-4: 223 78% 47%;
    --chart-5: 226 70% 40%;
    --sidebar: 222 0% 98%;
    --sidebar-foreground: 222 0% 4%;
    --sidebar-primary: 222 0% 9%;
    --sidebar-primary-foreground: 222 0% 98%;
    --sidebar-accent: 222 0% 96%;
    --sidebar-accent-foreground: 222 0% 9%;
    --sidebar-border: 222 0% 90%;
    --sidebar-ring: 222 0% 63%;
    --font-heading: var(--font-sans);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark, [data-mode="dark"] {
    --background: 224 0% 5%;
    --foreground: 224 0% 98%;
    --card: 224 0% 7%;
    --card-foreground: 224 0% 98%;
    --popover: 224 0% 7%;
    --popover-foreground: 224 0% 98%;
    --primary: 224 0% 98%;
    --primary-foreground: 224 0% 9%;
    --secondary: 224 0% 15%;
    --secondary-foreground: 224 0% 98%;
    --muted: 224 0% 15%;
    --muted-foreground: 224 0% 63%;
    --accent: 224 0% 15%;
    --accent-foreground: 224 0% 98%;
    --destructive: 358 100% 70%;
    --destructive-foreground: 224 0% 100%;
    --border: 224 0% 18%;
    --input: 224 0% 18%;
    --ring: 224 0% 80%;
    --chart-1: 212 100% 79%;
    --chart-2: 217 91% 60%;
    --chart-3: 221 86% 54%;
    --chart-4: 224 79% 48%;
    --chart-5: 227 70% 40%;
    --sidebar: 224 0% 7%;
    --sidebar-foreground: 224 0% 98%;
    --sidebar-primary: 224 0% 98%;
    --sidebar-primary-foreground: 224 0% 9%;
    --sidebar-accent: 224 0% 15%;
    --sidebar-accent-foreground: 224 0% 98%;
    --sidebar-border: 224 0% 18%;
    --sidebar-ring: 224 0% 80%;
  }
  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  }
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@layer base {
  [data-state] {
    --tw-enter-scale: 1 !important;
    --tw-exit-scale: 1 !important;
    --tw-enter-opacity: 1 !important;
    --tw-exit-opacity: 1 !important;
    --tw-enter-translate-x: 0;
    --tw-enter-translate-y: 0;
    --tw-exit-translate-x: 0;
    --tw-exit-translate-y: 0;
  }
}
